HIKOREA_ID=your_hikorea_id
HIKOREA_PW=your_password
ORGN_CD=1270686
DESK_SEQ=810
TASK_CODE=F03
VISITOR_NAME=YOUR NAME
PHONE_NUMBER=01012345678
CHECK_INTERVAL_MINUTES=5
TARGET_BEFORE_DATE=2026-04-15
HEADLESS=false
